header {
  margin-bottom: 100px;
  @include media-breakpoint-only(sm) {
    margin-bottom: 80px;
  }
  @include media-breakpoint-up(md){
    margin-bottom: 90px;
  }
}

article {
  z-index: 1;
}

.nav-bar {
  top: 0;
  z-index: 2;
}

.swiper-slider {
  height: 300px;
  width: 100%;
  position: relative;
  overflow: hidden;
  .swiper-item {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    transition: transform .5s ease;
    transform: translateX(-100%);
    &.active {
      transform: translateX(0);
      ~.swiper-item {
        transform: translateX(100%);
      }
    }
    a {
      display: block;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
        display: inline-block;
      }
    }
  }
  .swiper-list {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    div {
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background-color: $white;
      display: inline-block;
      padding: 0;
      margin-right: 5px;
      cursor: pointer;
      &.active {
        background-color: $red;
      }
      &:focus {
        outline: transparent;
      }
    }
  
    
    @include media-breakpoint-only(lg){
      bottom: 20px;
    }
  }
  @include media-breakpoint-up(xl) {
    height: 500px;
  }
}

.about {
  text-align: center; // position: absolute;
  background-color: $white-25; // top: 355px;
  width: 100%;
  color: $grey-100;
  h5 {
    text-align: center;
    font-size: 24px;
    position: relative;
    &:after {
      content: "";
      width: 80px;
      height: 3px;
      background-color: $red;
      display: block; // position: absolute;
      left: 50%;
      bottom: -20px;
      border-radius: 3px;
      margin: 0 0 0 -40px;
      position: absolute;
    }
  }
  a {
    cursor: pointer;
    color: $grey-100;
    text-decoration: none;
  }
  .title {
    font-size: 24px;
    font-weight: bold;
  }
  p {
    font-size: 16px;
  }
  @include media-breakpoint-up(md) {
    padding-top: 20px;
    padding-bottom: 20px;
    .statement {
      line-height: 30px;
    }
  }
}

.lectures {
  background-color: $white;
  color: $grey-100;
  top: 850px;
  text-align: center;
  img {
    max-width: 100%;
  }
  h5 {
    text-align: center;
    font-size: 24px;
    position: relative;
    &:after {
      content: "";
      width: 80px;
      height: 3px;
      background-color: $red;
      display: block; // position: absolute;
      left: 50%;
      bottom: -20px;
      border-radius: 3px;
      margin: 0 0 0 -40px;
      position: absolute;
    }
  }
  .badge-warning {
    background-color: $yellow;
  }
  .lecture-wrap {
    border: 1px solid #ddd;
    cursor: pointer;
    color: $grey-75;
    .title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 18px;
    }
    span {
      left: 20px;
      &.time {
        left: 90px;
        font-size: 13px;
      }
    }
    div.statement {
      font-size: 14px;
      height: 100px;
      overflow: hidden;
    }
    .speaker {
      font-size: 14px;
      left: 20px;
      bottom: -30px;
    }
    @include media-breakpoint-down(sm) {
      height: 630px;
    }
    @include media-breakpoint-only(md) {
      height: 530px;
      &.third {
        display: none;
      }
    }
    @include media-breakpoint-only(lg) {
      height: 470px;
    }
    @include media-breakpoint-only(xl) {
      height: 530px;
    }
  }
  .more {
    width: 100px;
    a {
      text-decoration: none;
      cursor: pointer;
      color: $red;
    }
  }
  @include media-breakpoint-down(sm) {
    .lectures-content {
      flex-wrap: wrap;
    }
  }
  @include media-breakpoint-only(md) {
    top: 800px;
    .lecturesBox:last-child {
      display: none;
    }
  }
}

.avatar {
  background-color: $white-25;
  position: relative;
  color: $grey-25;
  overflow: hidden;
  height: 300px;
  .avatar-slide {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    transition: transform .5s ease;
    transform: translateX(-100%);
    &.active {
      transform: translateX(0);
      ~.avatar-slide {
        transform: translateX(100%);
      }
    }
    .name {
      font-size: 24px;
      color: $red;
    }
    img {
      max-width: 100%;
      border-radius: 50%;
    }
  }
  .avatar-list {
    position: absolute;
    bottom: -220px;
    left: 0;
    right: 0;
    margin: auto;
    div {
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background-color: $white;
      display: inline-block;
      padding: 0;
      margin-right: 5px;
      cursor: pointer;
      &.active {
        background-color: $red;
      }
      &:focus {
        outline: transparent;
      }
    }
  }
}

.showcases {
  background-color: $white;
  color: $grey-100;
  top: 850px;
  text-align: center;
  img {
    width: 100%;
  }
  h5 {
    text-align: center;
    font-size: 24px;
    position: relative;
    &:after {
      content: "";
      width: 80px;
      height: 3px;
      background-color: $red;
      display: block; // position: absolute;
      left: 50%;
      bottom: -20px;
      border-radius: 3px;
      margin: 0 0 0 -40px;
      position: absolute;
    }
  }
  .showcases-wrap {
    border: 1px solid #ddd;
    cursor: pointer;
    color: $grey-75;
    .title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 18px;
    }
    span {
      left: 20px;
      &.time {
        left: 90px;
      }
    }
    div.statement {
      font-size: 14px;
      line-height: 22px;
    }
    .speaker {
      font-size: 12px;
      left: 20px;
      bottom: -30px;
    }
    @include media-breakpoint-down(sm) {
      height: 540px;
    }
    @include media-breakpoint-only(md) {
      height: 480px;
      &.third {
        display: none;
      }
    }
    @include media-breakpoint-only(lg) {
      height: 500px;
      &.third {
        display: none;
      }
    }
    @include media-breakpoint-only(xl) {
      height: 470px;
    }
  }
  .more {
    width: 100px;
    a {
      cursor: pointer;
      color: $red;
      text-decoration: none;
    }
  }
  @include media-breakpoint-down(sm) {
    .showcases-content {
      flex-wrap: wrap;
    }
  }
  @include media-breakpoint-only(md) {
    top: 800px;
    .showcasesBox:last-child{
      display: none;
    }
  }
}

.know-us {
  background-color: $white;
  div {
    font-size: 18px;
    color: $grey-75;
    a {
      color: $red;
      text-decoration: none;
      cursor: pointer;
    }
    h3 {
      font-size: 24px;
    }
  }
}